@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dobrodosli</h1>
    <br />
    <p>Ovo je zvanican web sajt Lego prodavnice</p>
    <br />
    <p>Kliknite na proizvode da vidite vise</p>
</div>
