@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <p>Osnovani 2023. u Beogradu.</p>
    <br />
    <p>Adresa: Savski nasip 7</p>
    <br />
    <p>Kontakt telefon: 064 000 00 00</p>
</div>
